.board {
	display: flex;
	flex-direction: column;
	/*border: 2px solid red;*/
	margin: 0 auto;
	width: 60%;
}

.row {
	display: flex;
	flex-direction: row;
	/*border: 2px solid green;*/
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

.square {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid #ccc;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	background-color: #75FFC9;
	font-size: 2em;
	border-radius: 5px;
}

.empty {
	background-color: black;
}

.move-left {
	transition: all 0.5s ease;
	transform: translate(-100px, 0);
}

.move-right {
	transition: all 0.5s ease;
	transform: translate(100px, 0);
}

.move-top {
	transition: all 0.5s ease;
	transform: translate(0, -100px);
}

.move-bottom {
	transition: all 0.5s ease;
	transform: translate(0, 100px);
}

.text-center {
	text-align: center;
}

.interface {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*border: 2px solid red;*/
}

.game-title {
	font-family: Helvetica, sans-serif;
	font-size: 40px;
	color: #FFB13C;
	text-shadow: 3px 3px #ccc;
}

#new-game-btn {
	width: 200px;
	height: 50px;
	font-family: Helvetica, sans-serif;
	background-color: white;
	border-radius: 5px;
	border: 2px solid #ccc;
	color: grey;
	box-shadow: 5px 5px #ccc;
}

#restart-game-btn {
	margin-top: 50px;
	width: 200px;
	height: 50px;
	font-family: Helvetica, sans-serif;
	background-color: white;
	border-radius: 5px;
	border: 2px solid #ccc;
	color: grey;
	box-shadow: 5px 5px #ccc;
}